@font-face {
  font-family: Roboto-Bold;
  src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #36384d;
}

.Container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
}

.News-box {
  margin: auto;
  width: 52vw;
  height: 65vh;
  background-color: #fff;
  border-radius: 22.5px;
  display: flex;
  padding: 5px;
}

.Information-panel {
  width: 55%;
  margin: 70px 40px;
  padding: 15px;
}

.Image-panel {
  width: 45%;
}
.Image-panel-mobile {
  display: none;
}

.Information-panel p1 {
  font-family: Roboto-Bold;
  color: #36384d;
  font-size: 3.4em;
  padding: 5px;
}

.Information-panel p {
  font-family: Roboto-Regular;
  color: #36384d;
  font-size: 1rem;
}

li {
  font-size: 1rem;
  font-family: Roboto-Regular;
  padding: 2px;
}
ul {
  list-style-image: url("./images/icon-list.svg");
}

.Desktop {
  max-width: 100%;
  height: auto;
}

.mail {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #a1a1a3;
  width: 335px;
  font-family: Roboto-Regular;
  font-size: 1rem;
}

.Subscripte-button {
  padding: 15px;
  width: 367px;
  background-color: #232742;
  color: #fff;
  border-radius: 5px;
  font-family: Roboto-Bold;
  font-size: 14px;
  border: none;
}

.valid-text p {
  font-size: 12px;
  font-family: Roboto-Bold;
}

.Text-box2 {
  margin-top: 30px;
}

.Subscripte-button:hover {
  background: linear-gradient(to right, #fb5283, rgb(228, 153, 24));
  box-shadow: 5px 20px 30px pink;
}

@media screen and (max-width: 700px) {
  .News-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40%, 60%;
    width: 100%;
    height: 100%;
  }

  .Image-panel {
    display: none;
  }
  .Desktop {
    display: none;
  }
  .Image-panel-mobile {
    display: initial;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .Information-panel {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
  }
}
